@charset "utf-8";

body {
  margin: 0 1em;
  width: 960px;
  font-size: 14px;
  line-height: 18px;

  &.index {
    font-size: 16px;
    line-height: 20px;
  }
}

table {
  margin-left: 2em;
}

thead tr {
  background-color: #eee;
}

td, th {
  padding: 5px;
}

.green {
  color: #468847;
}

.blue {
  color: #3a87ad;
}
