---
title: Static
page_class:
  - index
---

%ul
  %li= link_to "Ciran", "/conlangs/ciran.html"
  %li
    Made with
    = link_to "Middleman", "http://middlemanapp.com"
  %li= link_to "Source", "http://github.com/aergonaut/static"
